@model TakeTripAsp.Core.Entity.Reviews

@{
    ViewData["Title"] = "Delete";
    Layout = "_TakeATripAdminLayout";
}

<h1>Видалити</h1>

<h3>Дійсно хочете видалити цей елемент?</h3>
<div>
    <h4>Відгуки</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tour.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value=" Видалити " class="btn btn-outline-danger btn-fw" />
        <a asp-action="Index" class="btn btn-outline-info btn-fw">Повернутись до списку</a>
    </form>

</div>
