@using TakeTripAsp.Application.Features.ReviewsFeatures.ReviewsDtos;
@model IEnumerable<ReadReviewsDto>
@{
    ViewData["Title"] = "Відгуки";
    Layout = "_TakeATripAdminLayout";
}

<h1>Відгуки</h1>

<p>
    <a asp-controller="Reviews" asp-action="Create" class="btn btn-inverse-primary btn-fw">Створити</a>
</p>
<table class="table table-hover ml-3 mb-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TourId)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="form-control content-wrapper" style="width: 500px; height:auto;  word-wrap: break-word; overflow-y: auto;">
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ClientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TourId)
                </td>
                <td>
                    <a class="btn btn-outline-secondary btn-fw" href="@Url.Action("Edit", "Reviews", new { id = item.Id, Comment = item.Comment })">Редагувати</a>
                    <a class="btn btn-outline-dark btn-fw" href="@Url.Action("Delete", "Reviews", new { id = item.Id, Comment = item.Comment })">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
