@using TakeTripAsp.Application.Features.AppUserFeatures.AppUserDto;
@using TakeTripAsp.Application.Features.ReviewsFeatures.ReviewsDtos;
@using TakeTripAsp.Application.Features.TourFeatures.TourDtos;
@model IEnumerable<ReadReviewsDto>
@{
    ViewData["Title"] = "Відгуки";
    Layout = "_TakeATripAdminLayout";
}

<h1>Відгуки</h1>


<table class="table table-hover ml-3 mb-3">
    <thead>
        <tr>
            <th>
                Коментар
            </th>
            <th>
                Власник
            </th>
            <th>
                Назва туру
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="form-control content-wrapper" style="width: 500px; height:auto;  word-wrap: break-word; overflow-y: auto;">
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>

                <td>
                    @{
                        var user = ViewBag.Users as List<ReadAppUserDto>;
                        if (item.ClientId != null)
                        {
                            var tourName = user.FirstOrDefault(s => s.Id == item.ClientId)?.FirstName;
                            <span>@tourName</span>
                        }
                        else
                        {
                            <span>Немає інформації</span>
                        }
                    }
                </td>
                <td>
                    @{
                        var tour = ViewBag.Tours as List<ReadTourDto>;
                        if (item.TourId != null)
                        {
                            var tourName = tour.FirstOrDefault(s => s.Id == item.TourId)?.Name;
                            <span>@tourName</span>
                        }
                        else
                        {
                            <span>Немає інформації</span>
                        }
                    }
                </td>
                <td>
                    <a class="btn btn-outline-secondary btn-fw" href="@Url.Action("Edit", "Reviews", new { id = item.Id, Comment = item.Comment })">Редагувати</a>
                    <a class="btn btn-outline-dark btn-fw" href="@Url.Action("Delete", "Reviews", new { id = item.Id, Comment = item.Comment })">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
