@model TakeTripAsp.Repository.DTOsUser.UserDto

@{
    ViewData["Title"] = "Видалення";
    Layout = "_TakeATripAdminLayout";
}

<h1>Видалення</h1>

<h3>Дійсно хочете видалити цей елемент?</h3>
<div>
    <h4>Користувачі</h4>
    <hr />
    <dl class="row ml-3 mb-3">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsConfirmed)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value=" Видалити " class="btn btn-outline-danger btn-fw" />
        <a asp-action="Index" class="btn btn-outline-info btn-fw">Повернутись до списку</a>
    </form>
</div>
