@using Microsoft.AspNetCore.Identity;
@using TakeTripAsp.Application.Features.AppUserFeatures.AppUserDto;
@using TakeTripAsp.Domain.Entity;
@model IEnumerable<ReadAppUserDto>;

@{
    ViewData["Title"] = "Користувачі";
    Layout = "_TakeATripAdminLayout";
    var userManager = Context.RequestServices.GetService(typeof(UserManager<AppUser>)) as UserManager<AppUser>;
}

<h1>Користувачі</h1>

<p>
    <a asp-controller="AppUser" asp-action="Create" class="btn btn-inverse-primary btn-fw">Створити</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Photo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item != null)
                    {
                        <img src="@item.CoverPath" alt="@item.FirstName" style="display: block; height: 50px; width: 50px; border-radius: 50%; object-fit: cover; border: 5px solid #D0CCFB;">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a class="btn btn-outline-secondary btn-fw" href="@Url.Action("Edit", "AppUser", new { id = item.Id,  })">Редагувати</a>
                    <a class="btn btn-outline-dark btn-fw" href="@Url.Action("Delete", "AppUser", new { id = item.Id })">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>