@using TakeTripAsp.Application.Features.CityFeatures.CityDtos;
@model IEnumerable<ReadCityDto>

@{
    ViewData["Title"] = "Індекс";
    Layout = "_TakeATripAdminLayout";
}

<h1>Міста</h1>

<p>
    <a asp-controller="City" asp-action="Create" class="btn btn-inverse-primary btn-fw">Додати</a>
</p>
<table class="table table-bordered ml-3 mb-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Назва міста")
            </th>
            <th>
                @Html.DisplayName("Id країни")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryId)
                </td>
                <td>
                    <a class="btn btn-outline-secondary btn-fw" href="@Url.Action("Edit", "City", new { id = item.Id, CityName = item.CityName })">Редагувати</a>
                    <a class="btn btn-outline-dark btn-fw" href="@Url.Action("Delete", "City", new { id = item.Id, CityName = item.CityName })">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>






