@model TakeTripAsp.Core.Entity.Tour

@{
    ViewData["Title"] = "Створити";
    Layout = "_TakeATripAdminLayout";
}

<h1>Бронювання</h1>

<h3>Хочете додати бронювання цього туру?</h3>
<div>
    <hr />
    <dl class="row ml-3 mb-3">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingPrice)
        </dd>
    </dl>

    <form asp-action="CreateBooking">
        <input name="TourId" type="hidden" value="@Model.Id" />
        <div class="form-group form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="IsFullPayment" value="true" /> Повна оплата
            </label>
        </div>
        <input type="submit" value="CreateBooking" class="btn btn-outline-success btn-fw" />
        <a asp-action="Index" class="btn btn-inverse-info btn-fw">Повернутись до списку</a>
    </form>

</div>
