@using TakeTripAsp.Application.Features.AppUserFeatures.AppUserDto;
@using TakeTripAsp.Application.Features.BookingFeatures.BookingsDtos;
@using TakeTripAsp.Application.Features.BookingStatusFeatures.BookingStatusDtos;
@using TakeTripAsp.Application.Features.TourFeatures.TourDtos;
@model IEnumerable<ReadBookingsDto>

@{
    ViewData["Title"] = "Бронювання";
    Layout = "_TakeATripAdminLayout";
}

<h1>Бронювання</h1>

@*<p>
    <a asp-controller="Bookings" asp-action="Create" class="btn btn-inverse-primary btn-fw">Створити</a>
</p>*@
<table class="table  table-bordered ml-3 mb-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsFullPayment)
            </th>
            <th>
                Власник
            </th>
            <th>
                Typ
            </th>
            <th>
                Статус
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFullPayment)
                </td>
                <td>
                    @{
                        var user = ViewBag.Users as List<ReadAppUserDto>;
                        if (item.TourId != null)
                        {
                            var tourName = user.FirstOrDefault(s => s.Id == item.ClientId)?.FirstName;
                            <span>@tourName</span>
                        }
                        else
                        {
                            <span>Немає інформації</span>
                        }
                    }
                </td>
                <td>
                    @{
                        var tour = ViewBag.Tours as List<ReadTourDto>;
                        if (item.TourId != null)
                        {
                            var tourName = tour.FirstOrDefault(s => s.Id == item.TourId)?.Name;
                            <span>@tourName</span>
                        }
                        else
                        {
                            <span>Немає інформації</span>
                        }
                    }
                </td>
                <td>
                    @{
                        var statuses = ViewBag.BookingStatuses as List<ReadBookingStatusDto>;
                        if (item.BookingStatusId != null)
                        {
                            var statusName = statuses.FirstOrDefault(s => s.Id == item.BookingStatusId)?.Name;
                            <span>@statusName</span>
                        }
                        else
                        {
                            <span>Немає інформації</span>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(model => item.Payment)
                </td>
                <td>
                    <a class="btn btn-outline-secondary btn-fw" href="@Url.Action("Edit", "Bookings", new { id = item.Id })">Редагувати</a>
                    <a class="btn btn-outline-dark btn-fw" href="@Url.Action("Delete", "Bookings", 
                    new { id = item.Id, IsFullPayment = item.IsFullPayment, Payment = item.Payment, ClientId = item.ClientId, TourId = item.TourId })">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
