@model IEnumerable<Bookings>
@using TakeTripAsp.Domain.Entity;
@{
    ViewData["Title"] = "Бронювання";
    Layout = "_TakeATripAdminLayout";
}

<h1>Бронювання</h1>

<p>
    <a asp-controller="Bookings" asp-action="Create" class="btn btn-inverse-primary btn-fw">Створити</a>
</p>
<table class="table  table-bordered ml-3 mb-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsFullPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingStatus.BookingStatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFullPayment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tour.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingStatus.BookingStatusName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Payment)
                </td>
                <td>
                    <a class="btn btn-outline-secondary btn-fw" href="@Url.Action("Edit", "Bookings", new { id = item.Id })">Редагувати</a>
                    <a class="btn btn-outline-dark btn-fw" href="@Url.Action("Delete", "Bookings", new { id = item.Id })">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
