@model IEnumerable<TakeTripAsp.Core.Entity.BookingStatus>

@{
    ViewData["Title"] = "Статус бронювання";
    Layout = "_TakeATripAdminLayout";
}

<h1>Статус бронювання</h1>

<p>
    <a asp-controller="BookingStatus" asp-action="Create" class="btn btn-inverse-primary btn-fw">Створити</a>
</p>
<table class="table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingStatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
           <tr>
              <td>
                @Html.DisplayFor(modelItem => item.BookingStatusName)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Id)
              </td>
              <td>
                    <a class="btn btn-outline-secondary btn-fw" href="@Url.Action("Edit", "BookingStatus", new { id = item.Id })">Редагувати</a>
                    <a class="btn btn-outline-dark btn-fw" href="@Url.Action("Delete", "BookingStatus", new { id = item.Id })">Видалити</a>
              </td>
           </tr>
        }
    </tbody>
</table>
