@using TakeTripAsp.Application.Features.BookingStatusFeatures.BookingStatusDtos;
@model IEnumerable<ReadBookingStatusDto>

@{
    ViewData["Title"] = "Статус бронювання";
    Layout = "_TakeATripAdminLayout";
}

<h1>Статус бронювання</h1>

<p>
    <a asp-controller="BookingStatus" asp-action="Create" class="btn btn-inverse-primary btn-fw">Створити</a>
</p>
<table class="table table-bordered ml-3 mb-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <a class="btn btn-outline-secondary btn-fw" href="@Url.Action("Edit", "BookingStatus", new { id = item.Id, Name = item.Name })">Редагувати</a>
                    <a class="btn btn-outline-dark btn-fw" href="@Url.Action("Delete", "BookingStatus", new { id = item.Id, Name = item.Name })">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
