@using TakeTripAsp.Application.Features.Tourfeatures.TourDtos;
@model ReadTourDto

@{
    ViewData["Title"] = "Delete";
    Layout = "_TakeATripAdminLayout";
}

<h1>Видалити</h1>

<h3>Дійсно хочете видалити цей елемент?</h3>
<div>
    <h4>Tour</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Назва туру
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Опис
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Початок туру
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt class="col-sm-2">
            Кінець туру
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.End)
        </dd>
        <dt class="col-sm-2">
            Повна вартість
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullPrice)
        </dd>
        <dt class="col-sm-2">
            Вартість бронювання
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingPrice)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Видалити" class="btn btn-outline-danger btn-fw" />
        <a asp-action="Index" class="btn btn-outline-info  btn-fw">Повернутись до списку</a>
    </form>
</div>