@using TakeTripAsp.Application.Features.TourFeatures.TourDtos;
@model UpdateTourDto

@{
    ViewData["Title"] = "Edit";
    Layout = "_TakeATripAdminLayout";
}

<h1>Редагування</h1>

<h4>Тур</h4>
<hr />
<div class="row ml-2">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Назва туру</label>
                <input asp-for="Name" class="form-control" style="width: 500px;" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Опис</label>
                <input asp-for="Description" class="form-control" style="width: 500px;" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Континент</label>
                <input asp-for="Continent" class="form-control" style="width: 500px;" />
                <span asp-validation-for="Continent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityIds">Оберіть міста:</label>
                <select class="form-control" id="CityIds" style="width: 500px;" name="CityIds" multiple>
                    @foreach (var city in ViewBag.Cities)
                    {
                        <option value="@city.Id" selected="@(Model.CityIds.Any(x => x.Equals(city.Id)) ? "selected" : null)">@city.CityName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Початок туру</label>
                <input asp-for="Start" class="form-control" style="width: 500px;" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Кінець туру</label>
                <input asp-for="End" class="form-control" style="width: 500px;" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Повна вартість</label>
                <input asp-for="FullPrice" class="form-control" style="width: 500px;" />
                <span asp-validation-for="FullPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Вартість бронювання</label>
                <input asp-for="BookingPrice" class="form-control" style="width: 500px;" />
                <span asp-validation-for="BookingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="selectedStatusId">Оберіть статус:</label>
                <select class="form-control" asp-for="StatusId" id="selectedStatusId">
                    @foreach (var status in ViewBag.Statuses)
                    {
                        <option value="@status.Id" selected="@(status.Id == Model.StatusId ? "selected" : null)">@status.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CategoryIds">Оберіть категорії:</label>
                <select class="form-control" id="CategoryIds" style="width: 500px;" name="CategoryIds" multiple>
                    @foreach (var category in ViewBag.Categories)
                    {
                        <option value="@category.Id" selected="@(Model.CategoryIds.Any(x => x.Equals(category.Id)) ? "selected" : null)">@category.Name</option>
                    }
                </select>
            </div>
            <div class="form-group mt-3">
                <label class="control-label">Завантажити обкладинку</label>
                <input asp-for="CoverFile" accept="image/*" />
                <span asp-validation-for="CoverFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-outline-primary btn-fw" />
            </div>
        </form>
    </div>
</div>


<div class="mb-3">
    <a asp-action="Index" class="btn btn-outline-info btn-fw">Повернутись до списку</a>
</div>
