@model Tour
@using TakeTripAsp.Domain.Entity;

@{
    ViewData["Title"] = "Edit";
    Layout = "_TakeATripAdminLayout";
}

<h1>Edit</h1>

<h4>Tour</h4>
<hr />
<div class="row ml-2">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" style="width: 500px;" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" style="width: 500px;" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Continent" class="control-label"></label>
                <input asp-for="Continent" class="form-control" style="width: 500px;" />
                <span asp-validation-for="Continent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" style="width: 500px;" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" class="form-control" style="width: 500px;" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End" class="control-label"></label>
                <input asp-for="End" class="form-control" style="width: 500px;" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullPrice" class="control-label"></label>
                <input asp-for="FullPrice" class="form-control" style="width: 500px;" />
                <span asp-validation-for="FullPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingPrice" class="control-label"></label>
                <input asp-for="BookingPrice" class="form-control" style="width: 500px;" />
                <span asp-validation-for="BookingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="selectedStatusId">Select Status:</label>
                <select class="form-control" asp-for="StatusId" id="selectedStatusId">
                    @foreach (var status in ViewBag.Statuses)
                    {
                        <option value="@status.Id" selected="@(status.Id == Model.StatusId ? "selected" : null)">@status.StatusName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="selectedCategories">Select Categories:</label>
                <select class="form-control" id="selectedCategories" style="width: 500px;" name="selectedCategories" multiple>
                    @foreach (var category in ViewBag.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
            <div class="form-group mt-3">
                @Html.DisplayNameFor(model => model.CoverFile)
                <input asp-for="CoverFile" accept="image/*" />
                <span asp-validation-for="CoverFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-outline-success btn-fw" />
            </div>
        </form>
    </div>
</div>


<div class="mb-3">
    <a asp-action="Index" class="btn btn-inverse-info btn-fw">Повернутись до списку</a>
</div>
