@model IEnumerable<ReadTourDto>
@using Microsoft.AspNetCore.Identity
@using TakeTripAsp.Application.Features.Tourfeatures.TourDtos;
@using TakeTripAsp.Domain.Entity;

@{
    ViewData["Title"] = "Index";
    Layout = "_TakeATripAdminLayout";
    var userManager = Context.RequestServices.GetService(typeof(UserManager<AppUser>)) as UserManager<AppUser>;
}

<h1>Наші тури</h1>

<p>
    <a asp-controller="Tour" asp-action="Create" class="btn btn-inverse-primary btn-fw">Створити</a>
</p>
<div class="ml-1" style="width: 1250px;">
    @foreach (var item in Model)
    {
        <div class="content-wrapper border mr-2 mb-2">
            <div class="card-body mb-0">
                <div class="row align-items-center justify-content-between">
                    <h1 class="display-1">@Html.DisplayFor(modelItem => item.Name)</h1>
                    <div>
                        <a class="btn btn-outline-secondary btn-fw" href="@Url.Action("Edit", "Tour", new { id = item.Id })">Редагувати</a>
                        <a class="btn btn-outline-dark btn-fw" href="@Url.Action("Delete", "Tour", new { id = item.Id })">Видалити</a>
                    </div>C
                </div>
                <div class="wrapper d-flex mb-3">
                    <div class="mr-2 mt-2 border border-top-0 border-bottom-0">
                        <p class="text-muted mr-2 ml-2">Континент</p>
                        <p class="lead mr-2 ml-2">@Html.DisplayFor(modelItem => item.Continent)</p>
                    </div>
                    @* <div class="mr-2 mt-2 border border-top-0 border-bottom-0">
                <p class="text-muted mr-2 ml-2">Країна</p>
                <p class="lead mr-2 ml-2">@Html.DisplayFor(modelItem => item.City)</p>
                </div> *@
                    <div class="mr-2 mt-2 border border-top-0 border-bottom-0">
                        <p class="text-muted mr-2 ml-2">Тривалість</p>
                        <p class="lead mr-2 ml-2">
                            @item.Start.ToString("dd.MM.yyyy") - @item.End.ToString("dd.MM.yyyy")
                        </p>
                    </div>
                    <div class="mr-2 mt-2 border border-top-0 border-bottom-0">
                        <p class="text-muted mr-2 ml-2">Ціна</p>
                        <p class="lead mr-2 ml-2">@Html.DisplayFor(modelItem => item.FullPrice)</p>
                    </div>
                    <div class="mr-2 mt-2 border border-top-0 border-bottom-0">
                        <p class="text-muted mr-2 ml-2">Ціна броні</p>
                        <p class="lead mr-2 ml-2">@Html.DisplayFor(modelItem => item.BookingPrice)</p>
                    </div>
                    @* <div class="mr-2 mt-2 border border-top-0 border-bottom-0">
                <p class="text-muted mr-2 ml-2">Статус</p>
                <p class="lead mr-2 ml-2">@Html.DisplayFor(modelItem => item.Status.StatusName)</p>
                </div> *@
                    @* <div class="mr-2 mt-2 border border-top-0 border-bottom-0">
                <p class="text-muted mr-2 ml-2">Категорії</p>
                <p class="lead mr-2 ml-2">
                @if (item.Categories != null)
                {
                foreach (var category in item.Categories)
                {
                <span>@category.Name,</span>
                }
                }
                </p>
                </div> *@
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <img src="@item.CoverPath" alt="@item.Name" style="display: block; height: 250px; width: 500px;">
                    <div>
                        <p class="blockquote">@Html.DisplayFor(modelItem => item.Description)</p>
                        <div>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <div>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        var userId = userManager.GetUserId(User);
                                        var user = userManager.FindByIdAsync(userId).Result;
                                        if (user.SelectedTours != null && user.SelectedTours.Any(st => st.TourId == item.Id))
                                        {
                                            <span class="text-success">Обрано</span>
                                        }
                                        else
                                        {
                                            <a asp-controller="Tour" asp-action="AddToSelectedTours" asp-route-id="@item.Id" class="btn btn-outline-secondary">
                                                <i class="fa-regular fa-heart" style="color: #6610f2;"></i>
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        <a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Url.Action("Index")" class="btn btn-outline-secondary">
                                            <i class="fa-regular fa-heart" style="color: #6610f2;"></i>
                                        </a>
                                    }
                                </div>
                                <button type="button" class="btn btn-outline-secondary">
                                    <i class=" fa-solid fa-wallet" style="color: #6610f2;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>