@model IEnumerable<TakeTripAsp.Core.Entity.TourManagerRequest>

@{
    ViewData["Title"] = "Запит на роль";
    Layout = "_TakeATripAdminLayout";
}

<h1>Запит на роль</h1>

<p>
    <a asp-controller="Category" asp-action="Create" class="btn btn-inverse-primary btn-fw">Створити</a>
</p>
<table class="table table-bordered ml-3 mb-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompanyMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSeller)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsApproved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCompanyMember)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSeller)
                </td>
               
                <td>
                    <a class="btn btn-outline-secondary btn-fw" href="@Url.Action("Edit", "TourManagerRequest", new { id = item.Id })">Редагувати</a>
                    <a class="btn btn-outline-dark btn-fw" href="@Url.Action("Delete", "TourManagerRequest", new { id = item.Id })">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
